name: CI

on: pull_request

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: using Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
      - name: run install, build and test
        run: |
          npm install
          npm run build
          npm run test